@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1>Cure Sort</h1>
    </div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <h3>Please scan your item in below.</h3>
            <form action="#">
                <img src="/images/barcode.jpg" /><br />
                <p>
                    <input type="text" id="items" onkeypress="handle(event)" />
                </p>
            </form>
        </div>
    </div>
    <script>
    function handle(e){
        if(e.keyCode === 13){
            e.preventDefault(); // Ensure it is only this code that rusn

            window.open(('/items/details?barcode=' + items.value.toString()))
        }
    }
    </script>

